AIRFLOW_UID=50000

OPENEXCHANGE_APP_ID=your_openexchange_app_id_here

POSTGRES_1_DB=orders_source
POSTGRES_1_USER=postgres
POSTGRES_1_PASSWORD=postgres

POSTGRES_2_DB=orders_target
POSTGRES_2_USER=postgres
POSTGRES_2_PASSWORD=postgres